@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 254 100% 97%;
      --foreground: 254 5% 10%;
      --card: 254 50% 97%;
      --card-foreground: 254 5% 15%;
      --popover: 254 100% 97%;
      --popover-foreground: 254 100% 10%;
      --primary: 254 28% 9%;
      --primary-foreground: 0 0% 98%;
      --secondary: 254 30% 90%;
      --secondary-foreground: 0 0% 0%;
      --muted: 216 30% 95%;
      --muted-foreground: 254 5% 40%;
      --accent: 216 30% 90%;
      --accent-foreground: 254 5% 15%;
      --destructive: 0 100% 50%;
      --destructive-foreground: 254 5% 97%;
      --border: 254 30% 82%;
      --input: 254 30% 50%;
      --ring: 254 28% 88%;
      --radius: 0.5rem;
     }
    .dark {
      --background: 254 50% 5%;
      --foreground: 254 5% 90%;
      --card: 254 50% 0%;
      --card-foreground: 254 5% 90%;
      --popover: 254 50% 5%;
      --popover-foreground: 254 5% 90%;
      --primary: 254 16% 86%;
      --primary-foreground: 0 0% 0%;
      --secondary: 254 30% 10%;
      --secondary-foreground: 0 0% 100%;
      --muted: 216 30% 15%;
      --muted-foreground: 254 5% 60%;
      --accent: 216 30% 15%;
      --accent-foreground: 254 5% 90%;
      --destructive: 0 100% 30%;
      --destructive-foreground: 254 5% 90%;
      --border: 254 30% 18%;
      --input: 254 30% 18%;
      --ring: 254 16% 86%;
      --radius: 0.5rem;
     }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }