@config "../tailwind.config.ts";
@import "tailwindcss";

  @layer base {
    :root {
      --background: 224 51% 95%;
      --foreground: 224 5% 10%;
      --card: 224 50% 90%;
      --card-foreground: 224 5% 15%;
      --popover: 224 51% 95%;
      --popover-foreground: 224 95% 10%;
      --primary: 224 0% 100%;
      --primary-foreground: 0 0% 0%;
      --secondary: 224 30% 81%;
      --secondary-foreground: 0 0% 0%;
      --muted: 186 30% 85%;
      --muted-foreground: 224 5% 40%;
      --accent: 186 30% 81%;
      --accent-foreground: 224 5% 15%;
      --destructive: 0 51% 50%;
      --destructive-foreground: 224 5% 90%;
      --border: 224 30% 81%;
      --input: 224 30% 50%;
      --ring: 224 0% 100%;
      --radius: 0.5rem;
     }
    .dark {
      --background: 254 50% 5%;
      --foreground: 254 5% 90%;
      --card: 254 50% 0%;
      --card-foreground: 254 5% 90%;
      --popover: 254 50% 5%;
      --popover-foreground: 254 5% 90%;
      --primary: 254 16% 86%;
      --primary-foreground: 0 0% 0%;
      --secondary: 254 30% 10%;
      --secondary-foreground: 0 0% 100%;
      --muted: 216 30% 15%;
      --muted-foreground: 254 5% 60%;
      --accent: 216 30% 15%;
      --accent-foreground: 254 5% 90%;
      --destructive: 0 100% 30%;
      --destructive-foreground: 254 5% 90%;
      --border: 254 30% 18%;
      --input: 254 30% 18%;
      --ring: 254 16% 86%;
      --radius: 0.5rem;
     }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }